<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <a href="https://github.com/davidlowe99/bimlode/">BIMLode</a>
  is a project to create an easily searchable repository for all BIM content.
</p>