<footer class="footer">
  <small>
    <a href="https://github.com/davidlowe99/bimlode/">BIMLode</a>
    by David Lowe
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/davidlowe99/bimlode/">News</a></li>
    </ul>
  </nav>
</footer>